@import '@fortawesome/fontawesome-free/css/all.min.css';

:root {
    --blue: #1761A0;
    --orange: #FF7E2D;
    --gray: #333333;
    --white: #FFFFFF;
    --light: #F2F2F2;
    --danger: #DC3545;
    --success: #5cb85c;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: var(--orange);
}

::selection {
    background: var(--orange);
    color: #ffffff;
}

.loader {
    border: 4px solid var(--light);
    border-top: 4px solid var(--blue);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: loader 1.3s linear infinite;
    margin-right: 10px;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#scrollToTop {
    position: fixed;
    bottom: 25px;
    right: 30px;
    height: 50px;
    width: 50px;
    background-color: var(--orange);
    color: var(--white);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border: 3px solid var(--orange);
    transition: all .3s ease-in-out;
    opacity: 0;
    transform: scale(0);
    z-index: 999;
}
#scrollToTop.visible {
    opacity: 1;
    transform: scale(1);
}
#scrollToTop:hover {
    background-color: var(--white);
    color: var(--orange);
    cursor: pointer;
}
#scrollToTop svg {
    transition: transform .3s ease-in-out;
}
#scrollToTop:hover svg {
    transform: translateY(-3px);
}

img, .swiper-slide, .quantityWrap a {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-select: none;
}

.text-Orange {
    color: var(--orange);
}
.text-Blue {
    color: var(--blue);
}
.navbarSearchIcon {
    height: 36px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    opacity: .75;
    transition: all .3s ease-in-out;
}

/*input[type="search"] {
    transition: all .3s ease-in-out;
}*/
input[type="search"]:active, input[type="search"]:focus {
    box-shadow: none;
    -webkit-box-shadow: 2px 4px 20px 5px var(--blue);
    -moz-box-shadow: 2px 4px 20px 5px var(--blue);
    box-shadow: 2px 4px 20px 5px var(--blue);
}
input[type="search"]:active + .navbarSearchIcon, input[type="search"]:focus + .navbarSearchIcon {
    color: var(--blue) !important;
}



.orangeButton, .blueButton {
    display: block;
    height: 55px;
    padding: 14px 20px;
    color: var(--white);
    font-size: 26px;
    line-height: 100%;
    border-radius: 27px;
    background-color: var(--orange);
    -webkit-box-shadow: 2px 4px 20px 5px var(--orange);
    -moz-box-shadow: 2px 4px 20px 5px var(--orange);
    box-shadow: 2px 4px 20px 5px var(--orange);
    transition: all .3s ease-in-out;
    overflow: hidden;
    position: relative;
    border: none;
}
.orangeButton:hover {
    background-color: var(--white);
    color: var(--orange);
    
}
.orangeButton::after, .blueButton::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 3px var(--orange);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 26px;
}
.blueButton::after {
    border-color: var(--blue);
}
.blueButton {
    background-color: var(--blue);
    -webkit-box-shadow: 2px 4px 20px 5px var(--blue);
    -moz-box-shadow: 2px 4px 20px 5px var(--blue);
    box-shadow: 2px 4px 20px 5px var(--blue);
}
.blueButton:hover {
    background-color: var(--white);
    color: var(--blue);
}
.orangeButton svg, .blueButton svg{
    height: 20px;
    margin-left: 10px;
}

a > .logo {
    color: var(--white);
}
.logo span {
    transition: all .3s ease-in-out;
}
.logo:hover span {
    text-shadow: var(--white) 1px 0 10px;
}
.logo:hover .text-Blue {
    text-shadow: var(--blue) 1px 0 10px !important;
}
.logo:hover .text-Orange {
    text-shadow: var(--orange) 1px 0 10px !important;
}

nav .loggedInCartButton {
    background-color: var(--light);
    color: var(--gray);
}
nav .loggedInCartButton::after {
    border-color: transparent;
    transition: border-color .3s ease-in-out;
}
nav .loggedInCartButton:hover::after {
    border-color: var(--orange);
}
nav .loggedInCartButton .cartButtonNum {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: var(--danger);
    color: var(--white);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    z-index: 5;
}
.orangeCartButton, .loggedInCartButton {
    height: 48px;
    width: 48px;
    color: var(--white);
    font-size: 24px;
    line-height: 100%;
    border-radius: 100%;
    background-color: var(--orange);
    /*-webkit-box-shadow: 2px 4px 20px 5px var(--orange);
    -moz-box-shadow: 2px 4px 20px 5px var(--orange);
    box-shadow: 2px 4px 20px 5px var(--orange);*/
    transition: all .3s ease-in-out;
    /*overflow: hidden;*/
    position: relative;
}
.orangeCartButton:hover, .loggedInCartButton:hover {
    background-color: var(--white);
    color: var(--orange);
}
.orangeCartButton::after, .loggedInCartButton::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 3px var(--orange);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 26px;
}
.orangeCartButton svg, .loggedInCartButton svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
}
.loggedInProfileButton svg {
    transform: translate(-50%, -50%) !important;
}



.loginCard label {
    padding: 0 1rem;
    margin-bottom: 5px;
}
.loginCard input:not([type="checkbox"]) {
    width: 100%;
    background-color: var(--white);
    border: none;
    height: 50px;
    color: var(--gray);
    border-radius: 50px;
    padding: 0 10px;
    transition: all .3s ease-in-out;
}
.loginCard input:not([type="checkbox"]):focus {
    -webkit-box-shadow: 2px 4px 20px 5px var(--orange);
    -moz-box-shadow: 2px 4px 20px 5px var(--orange);
    box-shadow: 2px 4px 20px 5px var(--orange);
    outline: none;
}
.loginWrap {
    min-height: calc(100vh - 100px);
}
.loginWrap a.text-Orange, .loginWrap a.text-Blue {
    transition: all .3s ease-in-out;
}
.loginWrap a.text-Orange:hover {
    color: var(--blue);
}
.loginWrap a.text-Blue:hover {
    color: var(--orange);
}
.loginCard {
    padding: 20px;
    min-height: 450px;
    width: 350px;
    background-color: var(--light);
    color: var(--gray);
    border-radius: 20px;
    -webkit-box-shadow: 1px 4px 20px 2px var(--gray);
    -moz-box-shadow: 1px 4px 20px 2px var(--gray);
    box-shadow: 1px 4px 20px 2px var(--gray);
}
.loginCard .orangeButton {
    border: none;
}


nav {
    height: 100px;
    background-color: var(--gray);
    /*-webkit-box-shadow: 0px 4px 20px 5px var(--blue);
    -moz-box-shadow: 0px 4px 20px 5px var(--blue);
    box-shadow: 0px 4px 20px 5px var(--blue);
    position: fixed;
    left: 0;
    top: 0;*/
}
.navbar-brand {
    font-size: 40px !important;
    color: var(--white) !important;
    margin-right: 0 !important;
    width: 190px;
}
.navbarSearch .form-control {
    height: 55px;
    width: 540px;
    border-radius: 27px;
    border: none;
    padding-left: 76px;
    font-size: 20px;
}
.loginWrap {
    width: 190px;
}


.hero {
    height: calc(100vh - 100px);
    background-image: url("../../public/static/heroBg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: var(--white);
}
.hero .contentWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    /*justify-content: end;*/
    align-items: end;
}
.hero .contentWrapper > * {
    display: inline-block;
}
.hero .contentWrapper p {
    font-size: 45px;
    max-width: 600px;
}

#strengths {
    padding: 100px 0;
    color: var(--gray);
}
#strengths svg {
    height: 100px;
}
#strengths .sCardWrap svg, #strengths .sCardWrap > div {
    transition: all .5s ease-in-out;
}
#strengths .sCardWrap:hover, #strengths .sCardWrap.highlight{
    color: var(--orange);
}
#strengths .sCardWrap:hover svg, #strengths .sCardWrap.highlight svg{
    transform: translateY(-10px);
    filter: drop-shadow(0px 4px 20px #FF7E2D);
}

#cta p {
    font-size: 40px;
    color: var(--gray);
}
.ram, .gpu, .motherb {
    position: absolute;
}
.ram {
    animation: float 6s ease-in-out infinite;
    z-index: 3;
    bottom: 25%;
    right: -30px;
}
.gpu {
    animation: float 7s ease-in-out infinite;
    z-index: 2;
    left: -15px;
    bottom: 20%;
}
.motherb {
    animation: float 5s ease-in-out infinite;
    right: 0;
    top: 0;
}

@keyframes float {
    0% {
        transform: translatey(0px);
   }
    50% {
        transform: translatey(-20px);
   }
    100% {
        transform: translatey(0px);
   }
}



#quote {
    min-height: 500px;
    background-image: url("../../public/static/quoteBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--white);
}
#quote .quoteWrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 730px;
}
#quote p {
    font-size: 50px;
    text-align: center;
}
#quote .text-end {
    font-size: 30px;
}


#reviews {
    padding: 50px 0 90px 0;
}
#reviews h1 {
    margin: 80px 0 100px 0;
}
.reviewCard {
    background-color: var(--light);
    border-radius: 20px;
    overflow: hidden;
    height: 380px;
}
.reviewCard svg {
    color: #E0B507;
    filter: drop-shadow(0px 4px 15px #333333);
}
.reviewSwiper {
    overflow-x: visible;
}
.reviewSwiper-controlWrap, .recommendationSwiper-controlWrap {
    display: flex;
    width: calc(100% - 130px);
    flex-direction: row;
    position: relative;
    padding: 30px 0 0 0 !important;
}
.reviewSwiper-scrollbarWrap, .recommendationSwiper-scrollbarWrap {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.reviewSwiper-scrollbarInnerWrap, .recommendationSwiper-scrollbarInnerWrap {
    background-color: var(--light);
    width: 100%;
    overflow: hidden;
    border-radius: 2px;
}
.reviewSwiper-scrollbar, .recommendationSwiper-scrollbar {
    height: 5px;
    width: 100%;
    background-color: var(--light) ;
    position: relative;
}
.reviewSwiper-scrollbar .swiper-scrollbar-drag, .recommendationSwiper-scrollbar .swiper-scrollbar-drag {
    background-color: var(--orange);
}
.pagination div {
    height: 65px;
    width: 65px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paginationPrev, .paginationNext {
    border: none;
}
.paginationPrev:disabled, .paginationNext:disabled {
    opacity: .7;
}
.paginationPrev:disabled:hover, .paginationNext:disabled:hover {
    background-color: var(--blue);
    color: var(--white);
    cursor: default;
}
.reviewSwiper-nextEl, .reviewSwiper-prevEl, .recommendationSwiper-nextEl, .recommendationSwiper-prevEl, .paginationPrev, .paginationNext {
    position: relative;
    min-height: 65px;
    height: 65px;
    min-width: 65px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    border-radius: 100%;
    color: var(--white);
    transition: all .3s ease-in-out;
}
.reviewSwiper-nextEl::after, .reviewSwiper-prevEl::after, .recommendationSwiper-nextEl::after, .recommendationSwiper-prevEl::after, .paginationPrev::after, .paginationNext::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: transparent !important;
    border: solid 3px var(--blue);
    position: absolute;
    top: 0;
    left: 0;
}
.reviewSwiper-nextEl:hover, .reviewSwiper-prevEl:hover, .recommendationSwiper-nextEl:hover, .recommendationSwiper-prevEl:hover, .paginationPrev:hover, .paginationNext:hover {
    cursor: pointer;
    background-color: var(--white);
    color: var(--blue);
}
.reviewSwiper-nextEl svg, .reviewSwiper-prevEl svg, .recommendationSwiper-nextEl svg, .recommendationSwiper-prevEl svg, .paginationPrev svg, .paginationNext svg {
    height: 30px;
}

#recommendation .orangeButton {
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
}

#recommendation {
    padding: 100px 0 150px 0;
}
#recommendation h1 {
    margin-bottom: 100px;
}

.productsContainer .recommendationCard {
    height: 500px;
}
.productsContainer .recommendationCard h4 {
    font-size: 18px;
    line-height: 105%;
}
.recommendationCard {
    background-color: var(--light);
    height: 475px;
    width: 100%;
    padding: 10px;
    position: relative;
    border-radius: 20px;
}
.recommendationCard .imgWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background-color: var(--white);
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}
.recommendationCard .imgWrap .imgHover {
    content: "\f00e";
    font-family: 'Font Awesome 6 Free';
    width: 100%;
    height: 100%;
    background-color: var(--gray);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 35px;
}
.recommendationCard .imgWrap:hover .imgHover {
    opacity: .5;
}
.recommendationCard img {
    max-height: 190px;
    max-width: 95%;
}
.quantityWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 130px;
    justify-content: center;
    font-size: 25px;
    background-color: var(--white);
    border-radius: 40px;
    padding: 0;
}
.quantityWrap h3 {
    width: 50px;
    text-align: center;
    margin-bottom: 0;
    border-right: solid 3px var(--light);
    border-left: solid 3px var(--light);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quantityWrap a {
    width: 40px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--gray);
    border: solid 3px transparent;
    height: 100%;
    transition: all .3s ease-in-out;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.quantityWrap a:nth-of-type(odd) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.quantityWrap a:hover {
    border-color: var(--orange);
    cursor: pointer;
}
.quantityWrap a.disabled {
    color: #33333350;
    cursor: default;
}
.quantityWrap a.disabled:hover {
    border-color: transparent !important;
}
.recommendationCard .recommendationBottomRowWrap {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 10px;
}
.recommendationCard h4 {
    font-size: 20px;
}
.recommendationCard p, .recommendationCard .propertiesWrap {
    margin-bottom: 5px;
    letter-spacing: 0;
    line-height: 110%;
    color: #777777;
    max-height: 80px;
    font-size: 16px;
}
.recommendationCard .recommendationPrice {
    font-size: 25px;
}
.recommendationCard .recommendationMore {
    font-size: 16px;
    color: #777777;
    display: flex;
    align-items: center;
    transition: all .3s ease-in-out;
}
.recommendationCard .recommendationMore:hover {
    color: var(--orange);
}
.recommendationCard .recommendationMore svg {
    transition: transform .3s ease-in-out;
}
.recommendationCard .recommendationMore:hover svg {
    transform: translateX(10px);
}
.productCard {
    -webkit-box-shadow: 0px 4px 15px 1px var(--gray);
    -moz-box-shadow: 0px 4px 15px 1px var(--gray);
    box-shadow: 0px 4px 15px 1px var(--gray);
}
.productCardNameLink {
    color: var(--gray);
    transition: color .3s ease-in-out;
}
.productCardNameLink:hover {
    color: var(--orange);
}

.productCardWrap {
    max-width: 30%;
}
.propertyRow {
    position: relative;
    margin-bottom: 2;
}
.propertyRow:not(:nth-last-of-type(1))::after {
    content: "";
    height: 1px;
    background-color: var(--gray);
    width: 95%;
    position: absolute;
    left: 50%;
    bottom: -1px;
    transform: translatex(-50%);
    opacity: .5;
}
.propertyKey {
    font-weight: 600;
}
.propertyKey, .propertyValue {
    font-size: 14px;
    word-wrap: break-word;
}


.productContainer .propertyKey, .productContainer .propertyValue {
    font-size: 19px !important;
}
.productContainer {
    padding: 100px 0;
}
.productContainer .swiper-wrapper {
    align-items: center;
}
.productSwiperThumbImg {
    width: 100% !important;
    height: 100% !important;
}
.productSwiper {
    margin-bottom: 10px;
}
.productContainer .quantityWrap {
    height: 50px;
    background-color: var(--light);
}
.productContainer .quantityWrap h3 {
    border-color: var(--white);
}
.productContainer .swiper-button-prev::after, .productContainer .swiper-button-next::after {
    color: var(--blue);
}

.thumbSwiperSlide {
    height: 100%;
    transition: all .3s ease-in-out;
}
.thumbSwiperSlide::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease-in-out;
    background-color: var(--orange);
    opacity: 0;
} 
.thumbSwiperSlide:hover::after {
    opacity: .25;
    cursor: pointer;
}

.pointer, .pointer svg {
    width: auto !important;
    color: var(--gray);
    transition: all .3s ease-in-out;
}
.pointer:hover {
    cursor: pointer;
    color: var(--blue);
}
.pointer:hover svg {
    transform: translateX(-10px);
    color: var(--orange);
}



.dashboardButtonWrap {
    min-height: calc(100vh - 100px) !important;
    height: 100%;
    width: 100%;
    background-color: var(--gray);
}
.dashboardButtonWrap a {
    border-radius: 0 !important;
    color: var(--white);
}
.dashboardButtonWrap a.active {
    background-color: var(--blue) !important;
}
.dashboardButtonWrap a:hover:not(.active) {
    color: var(--orange);
}

.dashboardProfilKepWrap {
    background-color: var(--light) !important;
    border-radius: 100%;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 160px;
}
.dashboardRowHeader {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #cdcdcd;
    padding: 5px 0;
    font-size: 20px;
    z-index: 2;
}
.dashboardRow {
    background-color: var(--light);
    padding: 5px 0;
    align-items: center;
    transition: all .3s ease-in-out;
    border: solid 2px transparent;
}
.dashboardRow:nth-of-type(odd) {
    background-color: #eaeaea;
}
.dashboardButtons {
    opacity: 0;
    transition: opacity .3s ease-in-out;
}
.dashboardRow:hover {
    background-color: #ddd;
    border: solid 2px var(--orange);
}
.dashboardRow:hover .dashboardButtons { 
    opacity: 1;
}



footer {
    background-color: var(--gray);
    color: var(--white);
    padding: 100px 0;
}
footer h1 {
    margin-bottom: 40px;
}
footer .contactButton svg {
    color: var(--orange);
    margin-right: 10px;
    height: 25px;
}
footer .contactButton {
    color: var(--white);
    font-size: 25px;
    margin-bottom: 15px;
    transition: all .3s ease-in-out;
}
footer .contactButton:hover {
    color: var(--orange);
}
footer .blueButton, footer .orangeButton {
    max-width: 200px;
    margin-bottom: 25px;
}
footer .footerCr {
    color: #555555;
    font-size: 18px;
}
footer .navigButton {
    color: var(--white);
    font-size: 25px;
    margin-bottom: 10px;
    transition: all .3s ease-in-out;
}
footer .navigButton:hover {
    color: var(--blue);
}
footer .seo {
    color: #555555;
    margin-top: 30px;
}
footer .seo:not(:nth-last-of-type(1))::after {
    content: "|";
    color: var(--orange);
    margin: 0 10px;
}

.search-res-container {
    position: absolute;
    background-color: white;
    z-index: 2;
    width: 540px;
    /*max-height: 500px;*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 27px;
    border-bottom-left-radius: 27px;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: height .3s ease-in-out;
    height: 0;
    z-index: 5;
}
.search-res-container:has(> .search-res-item:nth-of-type(4)) {
    height: 300px;
}
.search-res-container:has(> .search-res-item:nth-of-type(3)):not(:has(> .search-res-item:nth-of-type(4))) {
    height: calc(300px - 64px - 44px);
}
.search-res-container:has(> .search-res-item:nth-of-type(2)):not(:has(> .search-res-item:nth-of-type(3))) {
    height: calc(300px - 128px - 44px);
}
.search-res-container:has(> .search-res-item:nth-of-type(1)):not(:has(> .search-res-item:nth-of-type(2))) {
    height: calc(300px - 192px - 44px);
}
.navbarSearch .form-control {
    transition: all .3s ease-in-out;
    transition-delay: .3s;
}
.navbarSearch:has(+ .search-res-container > .search-res-item) .form-control  {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: border-radius 0s ease-in-out;
    transition-delay: 0s;
}
.search-res-container > div:not(.search-res-item) {
    text-align: center;
    position: relative;
}
.search-res-container > div:not(.search-res-item) a {
    color: var(--orange);
    width: 100%;
    height: 100%;
    display: block;
    transition: all .3s ease-in-out;
    padding: 10px 0;
}
.search-res-container > div:not(.search-res-item) a:hover {
    background-color: var(--light);
    color: var(--blue);
}
.search-res-link {
    padding: 7px 10px;
    overflow-x: hidden;
    display: block;
    transition: all .3s ease-in-out;
    color: var(--gray);
}
.search-res-link:hover {
    background-color: var(--light);
    color: var(--orange);
}

.search-res-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}


.ctaButtonSpan {
    width: 100%;
}

.filters {
    width: 100%;
    background-color: var(--light);
    border-radius: 20px;
    -webkit-box-shadow: 0px 4px 15px 1px var(--gray);
    -moz-box-shadow: 0px 4px 15px 1px var(--gray);
    box-shadow: 0px 4px 15px 1px var(--gray);
    position: sticky;
    top: 10px;
    transition: all .3s ease-in-out;
}
.filters hr {
    margin: 15px 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance:textfield;
}
.productContainer .form-control, .cartBottomRow .form-control, .profileRow .form-control {
    background-color: var(--light) !important;
    padding: 5px 10px !important;
    box-shadow: none !important;
    margin: 0 !important;
    border-color: var(--light) !important;
}
.priceFilter input, .productContainer .form-control, .cartBottomRow .form-control, .profileRow .form-control {
    width: 100%;
    background-color: var(--white);
    box-shadow: none;
    border: solid 3px var(--white);
    padding: 5px;
    color: var(--gray);
    border-radius: 20px;
    outline: none;
    transition: border-color .3s ease-in-out;
}
.priceFilter input:focus, .productContainer .form-control:focus, .cartBottomRow .form-control:focus, .profileRow .form-control:focus {
    border-color: var(--orange) !important;
}
.productContainer .blueButton {
    outline: none !important;
    border: none !important;
}
.productContainer .blueButton::after {
    margin: 0 !important;
}
.filters h5 {
    margin-left: 8px;
}
.filters .orangeButton, .filters .blueButton {
    height: 35px;
    padding: unset;
    font-size: 20px;
    box-shadow: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filters .orangeButton:hover, .filters .blueButton:hover {
    cursor: pointer !important;
}
.checkboxFilter {
    font-size: 18px;
    line-height: 100%;
}
.checkboxWrap {
    max-height: 175px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.checkboxWrap > div {
    padding-left: 8px;
    display: flex;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
}
.checkboxFilter input, input[type="checkbox"] {
    border-radius: 5px;
    color: var(--orange);
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    width: 15px;
    height: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkboxFilter input::after, input[type="checkbox"]::after {
    content: '\f00c';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-size: 14px;
    opacity: 0;
    transform: scale(0);
    transition: all .3s ease-in-out;
}
.checkboxFilter input:checked::after, input[type="checkbox"]:checked::after {
    transform: scale(1);
    opacity: 1;
}
.checkboxFilter label:hover, input[type="checkbox"] + label:hover {
    color: var(--blue);
}
.checkboxFilter label, input[type="checkbox"] + label {
    opacity: .75;
    padding-left: 10px;
    width: 100%;
    transition: all .3s ease-in-out;
}
.checkboxFilter input:checked + label {
    opacity: 1;
}
.checkboxFilter input:hover, .checkboxFilter label:hover, input[type="checkbox"]:hover, input[type="checkbox"] + label:hover {
    cursor: pointer;
}

.checkboxWrap::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}
.checkboxWrap::-webkit-scrollbar-track {
    background: var(--white);
}
.checkboxWrap::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-radius: 5px;
}
.checkboxWrap::-webkit-scrollbar-thumb:hover {
    opacity: .75;
}

.orderRow {
    width: calc(100% + 7px);
    transform: translateX(-4px);
    background-color: var(--light);
    height: 40px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 4px 15px 1px var(--gray);
    -moz-box-shadow: 0px 4px 15px 1px var(--gray);
    box-shadow: 0px 4px 15px 1px var(--gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    position: sticky;
    top: 10px;
    z-index: 2;
}
/*.orderRow #order {
    box-shadow: none;
    height: 26px;
    display: flex;
    align-items: center;
    font-size: 20px;
    background-color: var(--orange);
    border: none;
    padding: 0 10px;
    border-radius: 20px;
}*/
.orderRow .dropdown-toggle{
    width: 200px;
    background-color: var(--orange);
    height: 26px;
    border-radius: 13px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: none !important;
    position: relative;
    padding: 0 10px;
    border: none;
    color: var(--white);
}
.orderRow .dropdown-toggle::after {
    content: "\f0dd";
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-size: 20px;
    transition: transform .3s ease-in-out;
    border: none;
    position: absolute;
    right: 10px;
    bottom: 5%;
    margin: auto;
}
/*.orderRow .dropdown-toggle.show::after {
    transform: rotate(180deg);
}*/
.orderRow .dropdown-toggle::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 3px var(--orange);
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    border-radius: 13px;
}
.orderRow .dropdown-toggle.show, .orderRow .dropdown-toggle:hover, .orderRow .dropdown-toggle:active {
    border: none;
    color: var(--orange) !important;
}
.orderRow .dropdown-menu {
    width: 200px;
    border-radius: 13px;
    border: none;
    box-shadow: 0px 4px 15px 1px var(--gray);
    padding: 0;
    margin: 0;
    background-color: var(--light);
    overflow: hidden;
}
.orderRow .dropdown-menu .dropdown-item {
    color: var(--gray);
    font-size: 20px;
    padding: 3px 10px;
    transition: all .3s ease-in-out;
}
.orderRow .dropdown-menu .dropdown-item:hover {
    background-color: var(--white);
    color: var(--blue);
}




.cartItemRow {
    height: 230px;
    background-color: var(--light);
    position: relative;
    padding: 10px;
    font-size: 22px;
    margin-bottom: 10px;
    border-radius: 30px;
}
.cartItemRow img {
    width: auto;
    height: 100%;
}
.cartItemRow .cartName {
    color: var(--gray);
    transition: color .3s ease-in-out;
    line-height: 100%;
}
.cartItemRow .cartName:hover { 
    color: var(--orange);
}
.cartItemRow .cartImgWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--white);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    padding: 5px;
}
.cartItemRow .orangeButton.danger {
    background-color: var(--danger);
    box-shadow: none;
    font-size: 20px;
    height: 100%;
}
.cartItemRow .orangeButton.danger::after {
    border-color: var(--danger);
}
.cartItemRow .orangeButton.danger:hover {
    color: var(--danger);
    background-color: var(--white);
}
.cartBottomRow {
    font-size: 22px;
}

.profileRow .editText > * {
    margin: 0 !important;
}
.profileRow .editText:not(:nth-last-of-type(1)) {
    margin-bottom: 10px;
}
.profileRow .editText {
    color: var(--blue);
    position: relative;
    transition: all .3s ease-in-out;
}
.profileRow .editText:hover {
    cursor: pointer;
    color: var(--orange);
}
.profileRow .editText::after {
    content: "\f044";
    font-family: 'Font Awesome 6 Free';
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    padding-left: 10px;
    transition: opacity .3s ease-in-out;
    color: var(--blue) !important;
}
.profileRow .editText::after:hover {
    opacity: 0 !important;
}
.profileRow .editText:hover::after {
    opacity: 1;
}
.profileRow .orangeButton, .profileRow .blueButton {
    font-size: 18px;
    box-shadow: none;
}

.successPayment {
    color: var(--success) !important;
    font-size: 30px;
}

@media (min-width: 1199.98px) {
    .ctaButtonSpan {
        width: unset !important;
    }

    .ram {
        bottom: 0;
        left: 15%;
    }
    .gpu {
        left: 0;
        bottom: 20%;
    }
    .motherb {
        right: 0;
        top: 0;
    }
}

@media (max-width: 1199.98px) {
    .navbarSearch .form-control, .search-res-container {
        width: 475px;
    }
    #cta p {
        font-size: 35px;
    }
}

@media (max-width: 991.98px) {
    nav {
        height: 140px;
    }
    .navbar-brand {
        font-size: 60px;
    }
    nav .orangeButton {
        position: relative;
        display: block;
    }

    .searchWrap, .navbarSearch, .navbarSearch .form-control {
        width: 100%;
    }
    .search-res-container {
        width: 696px;
    }

    .hero .contentWrapper p {
        font-size: 40px;
    }

    .ctaImgColumn {
        padding-top: 50px;
        height: 400px;
        display: flex;
        justify-content: center;
    }
    .ctaImgColumn > div {
        width: 60%;
    }
    .ctaButtonSpan {
        width: unset !important;
    }

    .ram {
        bottom: -20%;
        right: -10%;
    }
    .gpu {
        left: -10%;
        bottom: 0;
    }
    .motherb {
        left: 10%;
        bottom: 0;
    }

    .filters {
        height: 45px;
        overflow: hidden;
    }
    .filters.open {
        max-height: min-content;
        height: 100vh;
    }
    
}

@media (max-width: 767.98px) {
    .search-res-container {
        width: 516px;
    }
    
    .ctaButtonSpan {
        width: 100% !important;
    }


    .ctaImgColumn > div {
        width: 100%;
    }
    .ram {
        bottom: -25%;
        right: -10%;
    }
    .gpu {
        left: -10%;
        bottom: -10%;
    }
    .motherb {
        left: 15%;
        bottom: 0;
    }
    .reviewCard {
        height: 475px;
    }

    .recommendationCard .propertiesWrap {
        max-height: 100px;
        overflow: hidden;
    }
}

@media (max-width: 575.98px) {
    .ctaImgColumn > div {
        width: 70%;
    }
    .row {
        padding: 0 7px;
    }
    .search-res-container {
        width: calc(100% - 24px);
    }
    .navbar-brand {
        font-size: 25px !important;
    }

    .hero .contentWrapper p {
        font-size: 30px;
    }
    nav .orangeButton {
        margin-bottom: 10px;
    }
    .orangeButton, .blueButton {
        font-size: 18px;
        line-height: 26px;
    }

    .sCardWrap {
        margin-bottom: 20px;
    }
    #cta p {
        font-size: 27px;
    }


    .ctaImgColumn {
        height: 500px;
        overflow: hidden;
    }
    .ctaImgColumn > div {
        width: 100%;
    }
    .ram {
        bottom: 5%;
        right: 5%;
    }
    .gpu {
        left: 5%;
        bottom: 0;
    }
    .motherb {
        left: 10%;
        bottom: 0;
    }
    .ram, .gpu, .motherb {
        width: 300px;
        height: auto;
    }

    #quote p {
        font-size: 35px;
    }

    .reviewCard {
        font-size: 20px !important;
    }
    .reviewCard p {
        font-size: 18px !important;
        line-height: 20px;
    }
}
